footer {
  .footer-content {
    padding: 93px 0 77px;
    .footer-navs {
      max-width: 501px;
      width: 100%;
      nav {
        ul {
          display: flex;
          flex-direction: column;
          row-gap: 10px;
          a {
            color: #000;
          }
        }
      }
    }
    .subscribe-card {
      position: relative;
      max-width: 629px;
      width: 100%;
      min-height: 236px;
      background-color: #ccc;
      padding: 31px 21px 20px;
      form {
        width: 100%;
        row-gap: 27px;
        flex-direction: column;
        div {
          row-gap: 10px;
          border-bottom: 1px #000 solid;
          height: 97px;
          flex-direction: column;
          label {
            font-size: 24px;
            font-weight: 600;
          }
          input {
            background-color: transparent;
            border: none;
            width: 100%;
          }
        }
        button {
          width: 222px;
          height: 62px;
          color: #fff;
          transition: transform 0.4s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
      }
      a {
        position: absolute;
        bottom: 15px;
        right: 40px;
        img {
          width: 55px;
          height: 65px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}
