
.registration-main {
  height: 100vh;
  .sign-up-wrapper {
    width: 50%;
    height: 100%;
    .sign-up {
      width: 404px;
      flex-direction: column;
      row-gap: 60px;
      form {
        flex-direction: column;
        row-gap: 30px;
        input {
          border: 1px solid rgba(0, 0, 0, 0.4);
          border-radius: 10px;
          outline: none;
          width: 100%;
          height: 50px;
          padding: 20px;
        }
        .checkbox-wrapper {
          column-gap: 20px;
          .checkbox {
            width: 22px;
            height: 22px;
          }
          p,
          a {
            color: #212628;
            a {
              text-decoration: underline !important;
              &:hover {
                color: blueviolet;
              }
            }
          }
        }
        .enter-btn {
          background: linear-gradient(
            to right,
            rgba(194, 53, 132, 1),
            rgba(226, 48, 108, 1),
            rgba(247, 119, 54, 1),
            rgba(250, 150, 62, 1)
          );
          height: 64px;
          border-radius: 30px;
          border: none;
          color: #fff;
          font-weight: 700;
          font-size: 18px;
          transition: transform 0.3s ease;
          &:hover {
            transform: scale(1.15);
            box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.65);
            -webkit-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.65);
            -moz-box-shadow: 0px 0px 37px 0px rgba(0, 0, 0, 0.65);
          }
        }
      }
    }
  }
  .img-container {
    width: 50%;
    background-image: url("../images/registration-img.png");
    @extend %bg-img-base;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
}
@media (max-width: 992px) {
  main {
    background-image: url("../images/registration-img.png");
    background-size: cover;
    background-position: center;
    .sign-up-wrapper {
      width: 100% !important;
      h1{
        color: #fff;
      }
    }
  }
}
