.slider {
  display: flex;
  .slider_item {
    padding: 45px 15px 15px;
    height: 536px;
    margin: 30px;
    background-color: #2b2b2b;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    border-radius: 10px;
    .card-text-reviews {
      width: 100%;
      padding: 0 20px;
      row-gap: 45px;
      display: flex;
      flex-direction: column;
      .reviewer {
        column-gap: 15px;
      }
      p,
      h6 {
        color: #fff;
      }
      p {
        font-size: 18px;
      }
    }
    .img-container-reviews {
      width: 100%;
      height: 290px !important;
      @extend %bg-img-base;
      border-radius: 10px;
      padding-bottom: 35px;
      padding-left: 35px;
      .card-text {
        height: 100%;
        flex-direction: column;
        h4 {
          font-size: 24px;
          width: 241px;
          font-weight: 700;
        }
        h4,
        p {
          color: #fff;
          margin: 0 !important;
        }
        div {
          column-gap: 10px;
        }
      }
      //   img {
      //     width: 100%;
      //     height: 100%;
      //     display: block;
      //     object-fit: cover;
      //   }
    }
    .card-1 {
      background-image: url("../images/living-room-white.png");
    }
    .card-2 {
      background-image: url("../images/small-card-img2.png");
    }
    .card-3 {
      background-image: url("../images/library-img.png");
    }
    .card-4 {
      background-image: url("../images/living-room-luxury.png");
    }
  }
}
