.main {
  padding: 19px 22px;
  background: linear-gradient(rgba(30, 30, 30, 0.67)),
    url("../images/main-bg-img.png");
  height: 910px;
  @extend %bg-img-base;
  border-radius: 20px;
  flex-direction: column;
  row-gap: 134px;

  header {
    height: 80px;
    img {
      width: 70px;
      height: 70px;
      transition: all 0.4s ease-in;
      &:hover{
        transform: scale(1.2);
      }
    }
    .header-links {
      max-width: 910px;
      width: 100%;
      align-items: center !important;
      ul {
        column-gap: 30px;
        a {
          position: relative;
          color: aquamarine;
          &::after {
            content: "";
            position: absolute;
            width: 0;
            background-color: whitesmoke;
            height: 2px;
            bottom: -2px;
            left: 0;
            transition: width 0.4s ease-in-out;
          }
          &:hover::after {
            width: 100%;
          }
        }
      }
      div {
        column-gap: 26px;
        .sign-up-btn,
        .registration-btn {
          border: 1.5px white solid;
          border-radius: 7px;
          padding: 7px 24px 10px;
          color: aquamarine;
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: scale(1.1);
          }
        }
        .registration-btn {
          color: #1e1e1e;
          // background: linear-gradient(
          //   90deg,
          //   rgba(255, 255, 255, 1) 0%,
          //   rgba(204, 204, 204, 1) 100%,
          //   rgba(0, 0, 0, 1) 50%
          // );
          background-color: #fff;
          &:hover {
            background: radial-gradient(
              circle,
              rgba(255, 255, 255, 1) 0%,
              rgba(225, 217, 209, 1) 0%,
              rgba(255, 255, 255, 1) 100%
            );
          }
        }
      }
    }
  }
  .main-content {
    height: 372px;
    h1,
    h3,
    p {
      color: #fff;
      margin: 0 !important;
    }
    .main-text {
      max-width: 782px;
      row-gap: 60px;
      flex-direction: column;
      h1 {
        max-width: 530px;
        font-size: 62px;
        line-height: 80px;
      }
      p {
        font-size: 20px;
      }
    }
    .achievements {
      width: 185px;
      height: 372px;
      flex-direction: column;
      justify-content: space-between;
      h3 {
        font-size: 53px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}
