.top-hotels {
  h4 {
    font-weight: 700;
  }
  .sec-title {
    flex-direction: column;
    max-width: 750px;
    width: 100%;
    margin: 93px auto 58px;
    h2 {
      font-size: 48px;
      text-align: center;
      max-width: 550px;
    }
    p {
      text-align: center;
      font-size: 20px;
    }
  }
  .row {
    h4,
    p {
      color: #fff;
      margin: 0 !important;
    }
    .main-card,
    .small-card {
      padding: 0 0 26px 46px;
      .card-text {
        height: 100%;
        flex-direction: column;
        div {
          column-gap: 10px;
        }
      }
    }
    .main-card {
      height: 614px;
      background-image: linear-gradient(
          180deg,
          rgba(100, 100, 100, 0) 0%,
          rgba(0, 0, 0, 0.8) 100%
        ),
        url("../images/main-card-img.png");
      @extend %bg-img-base;
      h4 {
        font-size: 40px;
        width: 390px;
      }
    }
    .secondary-cards {
      .small-card {
        height: 302px;
        h4 {
          font-size: 24px;
          width: 241px;
        }
      }
      .small-card1 {
        background-image: linear-gradient(
            180deg,
            rgba(100, 100, 100, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%
          ),
          url("../images/small-card-img1.png");
        @extend %bg-img-base;
      }
      .small-card2 {
        background-image: linear-gradient(
            180deg,
            rgba(100, 100, 100, 0) 0%,
            rgba(0, 0, 0, 0.8) 100%
          ),
          url("../images/small-card-img2.png");
        @extend %bg-img-base;
      }
    }
  }
}
@media (max-width: 768px) {
  .main-card,
  .small-card {
    padding: 0 0 20px !important;
    justify-content: center;
    align-items: center;
    .card-text {
      align-items: center;
      h4 {
        text-align: center;
      }
      div {
        flex-direction: column;
      }
    }
  }
}
