@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap");
h1,
h2,
h3 {
  font-family: "ADLaM Display", system-ui;
}
body {
  font-family: "Inter", sans-serif;
}
.container {
  max-width: 1247px !important;
}
%bg-img-base {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
ul {
  list-style: none;
}
a {
  text-decoration: none !important;
}
.rounded-4{
  border-radius: 10px;
}